.vscode/settings.json
*.swp
*.swo
MekWarsServer/build
MekWarsClient/build
MekWarsClient/data/servers
MekWarsCommon/build
MekWarsOperationsEditor/build
MekWarsDedicatedHost/build
MekWarsHPGNet/build
MekWarsHPGNet/hpg-dist
buildSrc/build
buildSrc/.gradle
*.iml
.idea/

# Gradle
.gradle/
MekWarsUpdater/build/
build/
*.class
