.vscode/settings.json
*.swp
*.swo
MekWarsServer/build
MekWarsClient/build
MekWarsCommon/build
MekWarsOperationsEditor/build
MekWarsTracker/build
MekWarsDedicatedHost/build
MekWarsHPGNet/build
MekWarsHPGNet/hpg-dist
buildSrc/build
buildSrc/.gradle
MekWarsClient/client-dist/data/images
*.iml
.idea/

# Gradle
.gradle/
MekWarsUpdater/build/
build/