name: Tests

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout MekWars
        uses: actions/checkout@v5

      - name: Checkout MegaMek
        uses: actions/checkout@v5
        with:
          repository: MegaMek/megamek
          ref: ${{ vars.MEGAMEK_VERSION }}
          path: megamek

      - name: Set up JDK 11
        uses: actions/setup-java@v5
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Configure Gradle properties
        run: |
          mkdir -p ~/.gradle
          echo "org.gradle.caching=true" >> ~/.gradle/gradle.properties
          echo "org.gradle.parallel=true" >> ~/.gradle/gradle.properties
          echo "org.gradle.daemon=false" >> ~/.gradle/gradle.properties

      - name: tests
        run: ./gradlew test

      - name: Upload Test Results
        if: ${{ !cancelled() }}
        uses: dorny/test-reporter@v2
        with:
          name: test-results
          path: ./**/build/test-results/test/TEST*.xml
          reporter: java-junit
